<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>

    {% if page.usemathjax %}
      {% include mathjax_support.html %}
    {% endif %}
    {% if page.usemermaid %}
      {% include mermaid_support.html %}
    {% endif %}

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      <header>
        <h1>{{ site.title }}</h1>
      </header>

      <main>
        {{ content }}
      </main>

    </div>

    <hr>
    <footer>
      <p>Powered by GitHub Pages</p>
    </footer>
  </body>
</html>
